#MainMenu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  padding: 13.5px 20px;
  z-index: 1000; /* Asegura que el menú esté por encima del contenido */
}

.menuButton {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.menuContent {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 40px; /* Ajustar según la altura del TopHeader */
}

.menuContent a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: black;
}

.menuContent a:hover {
  background-color: #f1f1f1;
}
